*{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
}

body {
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 90px auto 20px;
  padding: 20px;
  background: #fff;
  color: #000;
  font-family: Raleway, sans-serif;
  line-height: .9em;
  word-spacing: 0.1em;
  letter-spacing: 0.07em;
}


header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

footer {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

nav > ul {
  grid-auto-flow: row;
}

li {
  padding-top: 2em;
  padding: 0.5em 1em;
  border: solid 1px;
  border-radius: 0.6em;
  font-size: .7em;
  width: 8em;
  height: 4em;
}

input, button {
  outline: none;
  background: inherit;
  border: 1px black solid;
  background: linear-gradient(#ddd, #ccc);
  padding-top: 2em;
  padding: 0.5em 1em;
  border: solid 1px;
  border-radius: 0.6em;
  font-size: .7em;
  width: 8em;
  height: 5em;
}

form {
  padding: 5em;
}

.deck {
  display: grid;
  justify-items: center;
  align-items: center
}

.left {
  grid-column-start: 1;
  border-top-left-radius: 0.6em;
  border-bottom-left-radius: 0.6em;
}

.right {
  grid-column-start : 3;
  border-top-right-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
}

