@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: #fff;
  color: #000;
  font-family: Raleway, sans-serif;
  line-height: 1.3em;
  word-spacing: 0.1em;
  letter-spacing: 0.07em;
  height: 100%;
}



a {
  color: #888;
  text-decoration: none;
  cursor: hand;
  font-weight: 900;
}

h1 {
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 1.8em;
  font-weight: 900;
  letter-spacing: 0.02em;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}

h2 {
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;   
  margin-top: 1.2em;
  margin-bottom: 0.7em;
}

li, input {
    display: inline-block;
    white-space: nowrap;
    margin: 0.2em;
    padding: 0.5em 1em;
    border: solid 1px;
    border-radius: 0.6em;
    font-size: 1.1em;
}

#results li {
  border: none;
}

#results {
  overflow : auto;
  height: 80vh;
}



button {
  font-weight: 900;
  color: #888;
  background: #fff;
  border: none;
  border-radius: 0.5em;
  font-weight: 900;
  font-size: 1.1em;

}

button:active {
  color: #fff;
  background: #333;
}

button:hover {
  background: #eee;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}



